Actual Linkedin post.json
{
  "name": "Advanced Website AI Bot Automation (n8n)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Post Creator",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Post Topic"
            },
            {
              "fieldLabel": "Target Audience"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -752,
        -272
      ],
      "id": "5796d7b2-b85c-4c6c-af22-526aee0638a7",
      "name": "On form submission",
      "webhookId": "f2345d2d-9083-4901-b0e2-6622ac2bf75e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic of Research:{{ $json['Post Topic'] }}\nTarget Audience:{{ $json['Target Audience'] }}",
        "options": {
          "systemMessage": "##Overview\n\nYou are an AI agent specialized in creating professional, educational, and engaging LinkedIn posts based on any topic provided by the user.\n\n##Objectives\n\nAlways begin by conducting a real-time search using the Tavily tool to gather the most accurate, up-to-date information on the topic. The post should be written to appeal to the provided target audience.\n\nBased on your research, generate a well-structured LinkedIn post that:\n\nStarts with an engaging hook\n\nProfessional in tone\n\nClear and easy to read\n\nEducational and insightful\n\nLight on emojis (use only when highly relevant and minimal)\n\nIncludes proper source attribution (e.g., “according to [source]”)\n\nContains relevant hashtags to improve visibility\n\nEnds with a clear call to action (e.g., asking for thoughts, feedback, or shares)\n\n##Output Instructions\n\nYour ONLY output should be the final LinkedIn post text.\n\nDo not include explanations, notes, or anything beyond the post itself.\n\n##Example Workflow\n\nReceive a topic (e.g., “The ROI of warehouse automation”)\n\nUse Tavily to search and gather recent information or case studies\n\nDraft a LinkedIn post using that research\n\nFormat it with source citations, clean structure, optional hashtags, and a call to action"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -576,
        -272
      ],
      "id": "14a128f6-facf-4002-8f63-a8a02d22524b",
      "name": "Research Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Linkedin Post: {{ $json.output }}",
        "options": {
          "systemMessage": "##Overview\n\nYou are an AI agent that transforms LinkedIn posts into visual prompt descriptions for generating graphic marketing materials. These visuals are designed to be paired with posts on LinkedIn, helping communicate the message in a visually engaging, brand-aligned way.\n\n##Objective\n\nRead and analyze the given LinkedIn post.\n\nIdentify the main message, insight, or takeaway from the post.\n\nCreate a clear and compelling graphic prompt that can be used with a text-to-image generator.\n\nThe result should be a marketing-style graphic — not a literal scene or hyperrealistic photo — that:\n\nVisually supports or illustrates the key idea of the post\n\nLooks appropriate for use in a professional LinkedIn feed\n\nFeels polished, modern, and engaging\n\n##Output Instructions\n\nOutput only the final image prompt. Do not output quotation marks.\n\nDo not repeat or rephrase the LinkedIn post.\n\nDo not add any explanations or extra content — just the image prompt.\n\nNever leave things blank like “Header area reserved for customizable callout text”\n\nOutput numeric stats when available in the original post\n\n##Style Guidelines\n\nThink like a brand designer or marketing creative.\n\nVisuals may include: text, charts, icons, abstract shapes, overlays, modern illustrations, motion-like effects, bold typography elements (described, not rendered), or metaphorical concepts.\n\nYou can mention layout suggestions (e.g. “split screen design”, “header with bold title and subtle background illustration”).\n\nAssume the output will be generated using AI image tools — your prompt should guide those tools effectively.\n\n##Example Prompt Format\n\nA modern flat-style graphic showing a human brain connected to mechanical gears, representing the fusion of AI and automation.\nMinimalist background, soft gradients, clean sans-serif text placement space at the top."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -224,
        -272
      ],
      "id": "430c95c6-362c-4a0c-95d6-292b423cb051",
      "name": "Image Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -624,
        -32
      ],
      "id": "fb2f3e69-9adf-4169-bae7-8389b51bf290",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KjNbI5tOKSfup9gD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        336,
        -272
      ],
      "id": "7b7eb79f-c41a-48cb-927b-14b11959bac7",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -192,
        -32
      ],
      "id": "fa233e67-5d6c-47f1-a07a-8f11db1ae508",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "U9xXxh4MP6lC6VNn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"Anime\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"start_date\": \"2025-02-09\",\n  \"end_date\": \"2025-12-29\",\n  \"include_answer\": false,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -400,
        -48
      ],
      "id": "b137872d-865b-49a5-a324-0f61ff4ea8a9",
      "name": "Tavily"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyC3WGgJNmEU0CfSM3-Fx33QkBZDRZpbUVE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $json.output }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"imageConfig\": {\n      \"aspectRatio\": \"1:1\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        128,
        -272
      ],
      "id": "3bf5d1b5-9888-45fb-83a4-2117c6a9f633",
      "name": "Image Generator"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        544,
        -272
      ],
      "id": "878a0411-067e-4a79-a364-29a0f5fdae35",
      "name": "Create a post"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Image Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Agent": {
      "main": [
        [
          {
            "node": "Image Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Image Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Image Generator": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e533da07-391f-4ee0-8ce3-141055ce65a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e586febcff14e8f313117554fcf375c7c1a9c6f009b6e9c7c5250614d3d535f"
  },
  "id": "xZcRnKjr8mPiBgPg",
  "tags": []
}